/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* header rules */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: top;
    height: 75vh;
    width: 100%;
    position: relative;
}

header .container img, .login {
    position: absolute;
    top: 20px;
}

header .container .img {
    left: 7.5%;
}

/* nav rules */
nav {
    text-align: center;
}

li, a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size: .9em;
    font-weight: bolder;
}

nav ul li a{
    color: #fff;
}

button {
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #fff;
}

button.login {
    right: 7.5%;
}

/* jumbotron inside rules */
header .header-text {
    width: 65%;
    margin: 30px auto;
    text-align: center;
    color: #fff;
}

.header-text h1 {
    font-size: 3em;
    margin: 90px 0 50px 0;
}

.header-text p {
    font-size: 1.1em;
    margin-bottom: 50px;
}

button.jumbo, button.download {
    font-size: 1.1em;
    font-weight: normal;
    padding: 18px 27px;
    border-radius: 30px;
}

.jumbo.open-browser{
    background-color: #000;
    color: #fff;
    margin-left: 20px;
}

/* main rules */
section {
    height: 100vh;
    padding: 100px 0;
}

/* float rules */
section aside {
    float: left;
}

section .container::after {
    content: '';
    display: table;
    clear: both;
}

/* aside rules */
.white .sxaside{
    width: 70%;
    height: auto;
}

.white .dxaside {
    padding-top: 30px;
    width: 30%;
}

main .grey {
    background-color: #F7F6F6;
    position: relative;
}

.grey .sxaside {
    padding-top: 30px;
    width: 30%;
}

.grey .dxaside{
    width: 70%;
    height: auto;
}

aside h2{
    font-size: 2.3em;
    margin-bottom: 20px;    
}

aside p {
    font-size: 1.2em;  
}
/* ultima sezione */
main .grey:last-child{
    height: 170vh;
}
.last-section h2, .last-section p {
    text-align: center;
}
.last-section h2{
    font-size: 2.5em;
}

.last-section p {
    margin-top: 30px;
    font-size: 1.2em;
}
.last-section img {
    width: 100%;
}

.last-text {
    width: 60%;
    margin: auto;
    background-image: url('../img/stars.svg');
    background-size: cover;
    background-position: bottom;
}
.last-text h2 {
    font-size: 2em;
    margin-top: 30px;
}
button.download {
    background-color: #93A0DC;
    color: #fff;
    margin-top: 40px;
}
 .last-section div:last-child {
     text-align: center;
 }

 /* footer */

 footer {
     background-color: #25272A;
     height: 70vh;
     
 }

