/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* header rules */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: top;
    height: 75vh;
    width: 100%;
    position: relative;
}

header .container img, .login {
    position: absolute;
    top: 20px;
}

header .container .img {
    left: 7.5%;
}

/* nav rules */
nav {
    text-align: center;
}

li, a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size: .9em;
    font-weight: bolder;
}

nav ul li a{
    color: #fff;
}

button {
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #fff;
}

button.login {
    right: 7.5%;
}

/* inside jumbotron rules */
header .header-text {
    width: 65%;
    margin: 4vh auto;
    text-align: center;
    color: #fff;
}

.header-text h1 {
    font-size: 3em;
    margin: 90px 0 50px 0;
}

.header-text p {
    font-size: 1.1em;
    margin-bottom: 50px;
}

button.jumbo {
    font-size: 1.1em;
    font-weight: normal;
    padding: 18px 27px;
    border-radius: 30px;
}

.jumbo.open-browser{
    background-color: #000;
    color: #fff;
    margin-left: 20px;
}

/* main rules */
section {
    height: 100vh;
    padding-top: 100px;
}

/* float rules */
section aside {
    float: left;
}

section .container::after {
    content: '';
    display: table;
    clear: both;
}

/* aside rules */
.white .sxaside{
    width: 70%;
    height: auto;
}

.white .dxaside {
    padding-top: 30px;
    width: 30%;
}

aside h2{
    font-size: 2.3em;
    margin-bottom: 20px;    
}

aside p {
    font-size: 1.2em;  
}

/* section .wave{
    position: absolute;
}

section .wave.down {
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
} */


